/* ============================= */
/* Base Styles (Mobile First) */
/* ============================= */

/* Main Page Wrapper & Background */
.pageWrapper {
  position: relative;
  min-height: 100vh;
  /* background: url("/images/collection_bg_1.jpg") center center / cover no-repeat; */
  color: #e0d6c7;
}
.heroSection {
  position: relative;
  min-height: 100vh;
  background: url("/images/collection_bg_1.webp") center center / cover
    no-repeat;
  color: #e0d6c7;
}
.overall {
  position: relative;
  min-height: 100%;
  background: url("/images/collection specification backround_5.webp") center
    top / cover no-repeat;
  color: #e0d6c7;
}
.overall::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(37, 34, 25, 0) 0%, #252219 60.57%);
  opacity: 0.8;
  z-index: 0;
}
.overall::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(37, 34, 25, 0.95) 0%,
    rgba(37, 34, 25, 0) 100%
  );
  opacity: 0.75;
  z-index: 1;
}
.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(37, 34, 25, 0) 0%, #252219 60.57%);
  opacity: 0.8;
  z-index: 0;
}
.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(37, 34, 25, 0.95) 0%,
    rgba(37, 34, 25, 0) 100%
  );
  opacity: 0.75;
  z-index: 1;
}
.enquiryPage > * {
  position: relative;
  z-index: 2;
}

/* Hero Section */
.heroSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}
.heroSection2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swatchAngle {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100vh;
  justify-content: center;
}
.heroContent2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  position: relative;
  /* max-width: 1400px; */
}
.swatchContainer2 {
  /* z-index: 30; */
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  position: absolute;
  z-index: 10;
  bottom: 50;
  right: 0;
}

/* Brand Title */
.brandTitle {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  z-index: 5;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 2rem;
  pointer-events: none;
}

/* Watch Image Wrapper */
.watchImageWrapper {
  width: 380px;
  /* max-height: 350px; */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  /* margin-bottom: 2rem; */
}
.watchImageWrapper2 {
  /* width: 50%; */
  height: 60vh;
  /* max-height: 100%; */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 2rem;
}
.watchImageWrapper10 {
  width: 50%;
  /* flex: 1; */
  /* height: 90vh; */
  height: 90%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  /* margin: 2rem 2rem; */
  /* padding: 20rem; */
}
.watchImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.watchImageMain {
  width: 100%;
  height: 90%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.watchImageWrapper:hover {
  transform: scale(1.05);
}
.watchImageWrapper:hover .watchInfo2 {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
/* when hovering anywhere in the hero content (including the image),
   put the swatches back into normal flow */
.watchImageWrapper2:hover ~ .swatchContainer {
  display: none;
}

.watchImageWrapper2:hover ~ .swatchContainerMain {
  display: flex;
}
/* Watch Info */
.watchInfo2 {
  position: absolute;
  bottom: 0;
  /* left: 22%; */
  background: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.watchInfo2 h2 {
  font-size: clamp(1rem, 3vw, 1.8rem);
  font-weight: 500;
  color: #fff;
}
.watchInfo2 p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  line-height: 1.5;
}
.watchInfo2 span {
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  color: #c5b69c;
  display: block;
  margin-top: 0.5rem;
}

/* Watch Info Main */
.watchInfoMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* text-align: start; */
}
.watchInfoMain p {
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.5;
  color: #fff;
  font-weight: 700;
  /* text-align: start; */
}

/* Color Swatches */
.swatchContainer {
  /* pos */
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  z-index: 5;
  position: absolute;
  right: -150;
}
.swatch {
  background: none;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  height: fit-content;
}
.swatch:hover {
  border-color: #a89f90;
}
.activeSwatch {
  border: 1px solid white;
}
.swatch img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

/* Details Section */
.detailsSection {
  position: relative;
  /* padding: 2rem 1rem; */
  display: flex;
  /* flex-direction: column; */
  /* gap: 2rem; */
  width: 100%;
  padding-top: 5rem;
}
.detailsSection > * {
  position: relative;
  z-index: 5;
}
.specsContainer {
  width: 50%;
  /* margin: 0 auto; */
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}
.stickyImageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.stickyWrapper {
  position: relative;
  width: 100%; /* ensure wrapper takes full container width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickyWrapper img {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block; /* removes inline spacing issues */
  margin: 0 auto;
  /* filter: opacity(0.5) */
}

.detailsContentWrapper {
  display: flex;
  /* flex-direction: column; */
  /* gap: 2rem; */
  width: 100%;
  /* max-width: 100%; */
  /* margin: 0 auto; */
  /* justify-content: center; */
}
.backButton {
  background: none;
  border: 1px solid #c5b69c;
  color: #c5b69c;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2rem;
  transition: background-color 0.3s, color 0.3s;
}
.backButton:hover {
  background-color: #c5b69c;
  color: #3d3832;
}
.specList {
  list-style: none;
}
.specList li {
  margin-bottom: 2.5rem;
}
.specList h4 {
  font-size: 1.3rem;
  color: #eacd83;
  margin-bottom: 0.75rem;
  font-weight: 600;
}
.specList p {
  font-size: 1.1rem;
  color: white;
}
.specList p:not(:first-of-type) {
  margin-top: 1rem;
}
/* default hide the first swatchContainer2 (inside) */
.watchInfoMain .swatchContainer2 {
  display: none;
}

/* default show the second one (outside) */
.heroSection2 > .swatchContainer2 {
  display: flex;
}

/* ============================= */
/* Responsive Breakpoints (Full Ranges) */
/* ============================= */

/* max-width: 474px */
@media (max-width: 474px) {
  .heroContent2 {
    flex-direction: column-reverse;
    min-height: 100vh;
    gap: 2rem;
  }
  .stickyWrapper img {
    filter: opacity(0.6);
  }
  .heroContent {
    /* height: 100%; */
  }
  .watchImageWrapper2 {
    height: 50vh;
  }
  .watchImageWrapper10 {
    width: 100%;
    /* flex: 1; */
    /* height: 60vw;/ */
    height: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    /* margin: 2rem 2rem; */
  }
  .watchInfo2 {
    display: none;
  }
  .watchInfoMain {
    gap: 2rem;
  }
  .watchInfoMain p {
    font-size: clamp(1rem, 3vw, 3rem);

    text-align: center;
  }
  .detailsContentWrapper {
    flex-direction: column; /* specs on top, image below */
    padding: 1rem;
  }

  .specsContainer {
    width: 100% !important;
    position: relative;
    z-index: 5;
  }

  .stickyImageContainer {
    width: 100% !important;
    position: relative;
    z-index: 4;
    background-color: black;
  }
  .specList p {
    font-size: 1.1rem;
    color: white;
    text-shadow: 3px 3px 3px #252219; /* x-offset, y-offset, blur, color */
  }

  .watchInfoMain .swatchContainer2 {
    display: flex; /* show first inside one */
  }
  .heroSection2 > .swatchContainer2 {
    display: none; /* hide second one */
  }
  .swatchContainer {
    position: static !important;
  }
  .swatchContainer2 {
    position: static !important;
  }
}

/* 475px ≤ width ≤ 639px */
@media (min-width: 475px) and (max-width: 639px) {
  .watchInfo2 {
    display: none;
  }
  .heroContent2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .watchImageWrapper2 {
    /* height: 50vh; */
  }
  .detailsContentWrapper {
    gap: 3rem;
    padding: 2rem 2rem;
  }
  .swatchAngle {
    flex-direction: column !important;
  }
  .swatchContainer {
    position: static;
  }
  .swatchContainer2 {
    position: static !important;
  }
}

/* 640px ≤ width ≤ 1023px */
@media (min-width: 640px) and (max-width: 1023px) {
  .brandTitle {
    font-size: 1.3rem;
  }
  .heroContent2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .watchImageWrapper2 {
    /* height: 55vh; */
  }
  .detailsContentWrapper {
    flex-direction: row;
    gap: 4rem;
    padding: 3rem 3rem;
  }
  .swatchAngle {
    flex-direction: column;
  }
  .swatchContainer {
    position: static;
  }
}

/* 1024px ≤ width ≤ 1279px */
@media (min-width: 1024px) and (max-width: 1279px) {
  .brandTitle {
    font-size: 1.5rem;
  }
  /* .watchInfoMain h2,
  .watchInfoMain p,
  .watchInfoMain span {
    font-size: clamp(18px, 2vw, 32px);
  } */
  .detailsContentWrapper {
    gap: 6rem;
    padding: 4rem 5rem;
    max-width: 1200px;
  }

  .watchImageWrapper2 {
    /* height: 100vh; */
  }
}

/* 1280px ≤ width ≤ 1535px */
@media (min-width: 1280px) and (max-width: 1535px) {
  .brandTitle {
    font-size: clamp(18px, 2vw, 32px);
  }
  /* .watchInfoMain h2,
  .watchInfoMain p,
  .watchInfoMain span {
    font-size: 2rem;
  } */
  .specsContainer {
    flex-direction: row;
    gap: 4rem;
    padding-left: 8rem;
  }
  .watchImageWrapper2 {
    /* height: 100vh; */
  }
  .noPad {
    padding-left: 0;
  }
}

/* 1536px ≤ width ≤ 2000px */
@media (min-width: 1536px) and (max-width: 2000px) {
  /* .watchInfoMain h2,
  .watchInfoMain p,
  .watchInfoMain span {
    font-size: clamp(18px, 2vw, 32px);
  } */
  .specsContainer {
    flex-direction: row;
    gap: 4rem;
    padding-left: 6rem;
  }
  .brandTitle {
    font-size: 1.5rem;
  }
  .specList h4 {
    font-size: 1.5rem;
  }
  .specList p {
    font-size: 1.2rem;
  }
}

/* 2001px ≤ width ≤ 4000px */
@media (min-width: 2001px) and (max-width: 4000px) {
  .specsContainer {
    flex-direction: row;
    gap: 4rem;
    padding-left: 10rem;
  }
  .watchImageWrapper2 {
    /* width: 50%; */
    height: 60vh;
    /* max-height: 100%; */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  /* .detailsContentWrapper {
    max-width: 1600px;
  } */
  /* .watchInfoMain h2,
  .watchInfoMain p,
  .watchInfoMain span {
    font-size: clamp(18px, 2vw, 32px);
  } */
}
